.wrapper {
  margin: 20px;
}

.drag-overlay {
  position: fixed; // Bao phủ toàn bộ giao diện
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5); // Màu xám mờ
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none; // Cho phép các sự kiện (drop) xuyên qua xuống div chứa
  p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.left-header {
  gap: 10px;
  display: flex;
  align-items: center;
}

.text-header {
  font-size: 2.2rem;
  border-right: 1px solid gray;
  padding-right: 10px;
}

.total-docs {
  color: gray;
  font-size: 1.8rem;
}

.right-header {
  gap: 10px;
  padding: 7px;
  background-color: #fcd965;
  color: white;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, box-shadow 0.2s ease;

  &:active {
    transform: scale(0.96);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }
}

.upload {
  margin-right: 7px;
}

.upload-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  min-width: 200px;
  overflow: hidden;
}

.upload-option {
  padding: 12px 16px;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f6f6f6;
  }
}

.item {
  &:hover {
    background-color: #f5f5f5;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

.skeleton {
  background-color: #d1d5db; // tương tự bg-gray-300
  border-radius: 4px;
}

.skeletonCircle {
  @extend .skeleton;
  border-radius: 50%;
}

.skeletonTextShort {
  @extend .skeleton;
  width: 50%;
  height: 16px;
  margin-bottom: 4px;
}

.skeletonTextLong {
  @extend .skeleton;
  width: 75%;
  height: 20px;
}

.skeletonSmallText {
  @extend .skeleton;
  width: 30%;
  height: 12px;
}
