.progress-bar-wrapper {
  width: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f7f4b9;
  border: 2px solid #f5c731;
  border-radius: 10px;
  padding: 6px;
  max-width: 400px;

  transform: translateX(100%);
  opacity: 0;
  animation: slideInFromRight 0.5s ease-out forwards;

  * {
    color: #f5c731;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0.4;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.progress-bar {
  height: 4px;
  background-color: #f5c731;
  transition: width 0.2s ease;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ccc;
  border-top: 4px solid #f5c731; // màu quay, bạn có thể chỉnh
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
