.wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.pdf-section {
  justify-self: center;
  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  //   overflow: auto;
  padding: 1rem;
}

.header {
  border: 1px solid #e5e7eb;
  height: 60px;
  width: 100vw;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-header {
  margin-right: 25px;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid white;

  &:hover {
    border: 1px solid black;
  }
}
