.error-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fee9e7;
  border: 1.5px solid #d05463;
  border-radius: 10px;
  padding: 12px;
  max-width: 400px;
  transform: translateX(100%);
  opacity: 0;
  animation: slideInFromRight 0.5s ease-out forwards;

  * {
    color: #900b09;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0.4;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
