.wrapper {
  position: fixed;
  background-color: #f5c731;
  opacity: 0.9;
  height: 60px;
  width: 100%;
  z-index: 10;
  align-items: center;
  display: flex;
  padding: 0 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  }
}

.left-header {
  min-width: 170px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 45px;
  width: 45px;
}

.name {
  color: white;
}

.right-header {
  display: flex;
  gap: 10px;
  margin-left: auto;
  align-items: center;
}

.sign-in {
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: 7px;
  border-radius: 10px;
}
.sign-up {
  font-size: 1.6rem;
  color: white;
  padding: 7px;
  cursor: pointer;
}

.avatar {
  height: 37px;
  width: 37px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 20;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
  display: flex;
  flex-direction: column;

  &:hover {
    .out-icon {
      background-color: white;
      color: #dd3232;
    }
  }
}

.logout {
  padding: 4px 12px;
  position: relative;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #b61616;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background-color: #dd3232;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: -1;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &:hover {
    color: #fff;
  }
}

.logout-text {
  font-size: 1.7rem;
  font-weight: 500;
}

.out-icon {
  margin-right: 10px;
  height: 13px;
  width: 13px;
  padding: 7px;
  border-radius: 50%;
  color: white;
  background-color: #dd3232;
}
